.login{
    font-family: "Qwitcher Grypen", cursive;
    font-style: normal;
    background: linear-gradient(180deg,#FFFFFF, #000000  130%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  min-height: 90vh;
   gap: 100px;

form{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    input{
        width: 100%;
       border-radius: 15px;
        margin: 10px 0px;
        padding: 0px 10px;
        height: 45px;
        border: none;
        outline: 0px;
    }
}
h2{
    font-size: 25px;
    font-weight: 500;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    
    &:disabled{
        cursor: not-allowed;
        background: rgba(245, 245, 245, 0.63);
    }
}
button:active{
    background: #a4a3a3;
}
}