.signup{
    font-family: "Qwitcher Grypen", cursive;
    font-style: normal;
    background: linear-gradient(180deg, #000000 ,#FFFFFF 190%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  min-height: 90vh;
   gap: 100px;

form{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    input{
        width: 100%;
       border-radius: 15px;
        margin: 10px 0px;
        padding: 0px 10px;
        height: 45px;
        border: none;
        outline: 0px;
    }
    label{
        width:100%;
        display: flex;
        align-items: end;
        /* justify-content: space-between; */
        gap: 20px;
        cursor: pointer;
        text-decoration: underline;
        font-size: 14px;
        color: #ffc107;
        text-align: end;
        img{
        width: 60px;
        height: 60px;
        border-radius: 10px;
        object-fit: cover;
        opacity: 0.6;
        }
    }
}
h2{
    font-size: 29px;
    font-weight: 500;
    color: #ffc107;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: white;

    &:disabled{
        cursor: not-allowed;
        background: rgba(245, 245, 245, 0.63);
    }
}
button:active{
    background: #a4a3a3;
}
}