*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.but{
    display: flex;
}
.but button{
    width: 107px;
    height: 30px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0px 5px;
}
button:active{
    background: #f3f3f3;
}
@media only screen and (max-width: 480px){
   .but{
    display: none;
   } 
}